{
	"openapi": "3.0.0",
	"info": {
		"version": "1.0.0",
		"title": "API",
		"description": "A minimal and easy API",
		"license": {
			"name": "MIT",
			"url": "https://opensource.org/licenses/MIT"
		}
	},
	"basePath": "/api/v1",
	"schemes": ["https", "http"],
	"servers": [
		{
			"url": "https://kids-like.goit.co.ua/api/v1",
			"description": "The production API server"
		},
		{
			"url": "http://localhost:5000/api/v1",
			"description": "The production API server"
		}
	],
	"tags": [
		{
			"name": "Public",
			"description": "NoProtected routes"
		},
		{
			"name": "Protected",
			"description": "Protected routes"
		}
	],
	"consumes": ["application/json"],
	"produces": ["application/json"],
	"securityDefinitions": {},
	"paths": {
		"/auth/me": {
			"get": {
				"description": "Get user data by token",
				"tags": ["Protected"],
				"summary": "route for get user in system",
				"security": ["bearerAuth"],
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "JWT",
						"required": true,
						"style": "simple",
						"schema": {
							"$ref": "#/components/securitySchemes/bearerAuth"
						},
						"style": "simple"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"401": {
						"$ref": "#/components/responses/UnauthorizedError"
					},
					"404": {
						"description": "BAD",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"success": {"type": "boolean"},
										"error": {"type": "object"},
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/auth/login": {
			"post": {
				"tags": ["Public"],
				"summary": "route for login user in system",
				"requestBody": {
					"description": "",
					"required": ["email", "password"],
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/LoginRequest"
							},
							"example": {
								"email": "email@email.com",
								"password": "password"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LoginResponse"
								}
							}
						}
					},
					"400": {
						"description": "BAD",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"success": {
											"type": "boolean",
											"example": false
										},
										"message": {
											"type": "string",
											"example": "Invalid Password"
										}
									}
								}
							}
						}
					},
					"422": {
						"description": "BAD",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"oneOf": [
										{
											"properties": {
												"success": {
													"type": "boolean",
													"example": false
												},
												"message": {
													"type": "string",
													"example": "Field password empty"
												}
											}
										},
										{
											"properties": {
												"success": {
													"type": "boolean",
													"example": false
												},
												"message": {
													"type": "string",
													"example": "Field nickname empty"
												}
											}
										}
									]
								}
							}
						}
					}
				}
			}
		},
		"/auth/register": {
			"post": {
				"tags": ["Public"],
				"summary": "route for register user in system",
				"requestBody": {
					"description": "",
					"required": ["email", "password"],
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/RegisterRequest"
							},
							"example": {
								"email": "testovoy@gmail.com",
								"password": "password",
								"nickname": "Testovoy"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RegisterResponse"
								}
							}
						}
					},
					"400": {
						"description": "BAD",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"success": {
											"type": "boolean",
											"example": false
										},
										"message": {
											"type": "string",
											"example": "Invalid Password"
										}
									}
								}
							}
						}
					},
					"422": {
						"description": "BAD",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"oneOf": [
										{
											"properties": {
												"success": {
													"type": "boolean",
													"example": false
												},
												"message": {
													"type": "string",
													"example": "Field password empty"
												}
											}
										},
										{
											"properties": {
												"success": {
													"type": "boolean",
													"example": false
												},
												"message": {
													"type": "string",
													"example": "Field nickname empty"
												}
											}
										}
									]
								}
							}
						}
					}
				}
			}
		},
		"/auth/logout": {
			"post": {
				"tags": ["Protected"],
				"summary": "Logout user from system",
				"security": ["bearerAuth"],
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "JWT",
						"required": true,
						"style": "simple",
						"schema": {
							"$ref": "#/components/securitySchemes/bearerAuth"
						},
						"style": "simple"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {}
							}
						}
					},
					"400": {
						"description": "BAD",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"success": {
											"type": "boolean",
											"example": false
										},
										"message": {
											"type": "string",
											"example": "Invalid Password"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tasks/{taskId}": {
			"patch": {
				"tags": ["Protected"],
				"summary": "If user toggle (complete) task",
				"security": ["bearerAuth"],
				"description": "Update task by taskId",
				"parameters": [
					{
						"in": "query",
						"required": true,
						"name": "taskId"
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "JWT",
						"required": true,
						"style": "simple",
						"schema": {
							"$ref": "#/components/securitySchemes/bearerAuth"
						},
						"style": "simple"
					}
				],
				"requestBody": {
					"content": {
						"applecation/json": {
							"schema": {
								"$ref": "#/components/schemas/TaskCreate"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"$ref": "#/components/schemas/GetTasks"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/UnauthorizedError"
					},
					"404": {
						"description": "BAD",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"success": {"type": "boolean"},
										"error": {"type": "object"},
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tasks": {
			"get": {
				"summary": "Get user Tasks",
				"tags": ["Protected"],
				"security": ["bearerAuth"],
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "JWT",
						"required": true,
						"style": "simple",
						"schema": {
							"$ref": "#/components/securitySchemes/bearerAuth"
						},
						"style": "simple"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"$ref": "#/components/schemas/GetTasks"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/UnauthorizedError"
					},
					"404": {
						"description": "BAD",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"success": {"type": "boolean"},
										"error": {"type": "object"},
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": ["Protected"],
				"summary": "Delete task",
				"security": ["bearerAuth"],
				"description": "Delete task",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "JWT",
						"required": true,
						"style": "simple",
						"schema": {
							"$ref": "#/components/securitySchemes/bearerAuth"
						},
						"style": "simple"
					}
				],
				"requestBody": {
					"content": {
						"applecation/json": {
							"schema": {
								"$ref": "#/components/schemas/Task"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"$ref": "#/components/schemas/GetTasks"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/UnauthorizedError"
					},
					"404": {
						"description": "BAD",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"success": {"type": "boolean"},
										"error": {"type": "object"},
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tasks/planning/custom": {
			"post": {
				"description": "Create custom planing Task",
				"tags": ["Protected"],
				"security": ["bearerAuth"],
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "JWT",
						"required": true,
						"style": "simple",
						"schema": {
							"$ref": "#/components/securitySchemes/bearerAuth"
						},
						"style": "simple"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"$ref": "#/components/schemas/GetTasks"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/UnauthorizedError"
					},
					"404": {
						"description": "BAD",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"success": {"type": "boolean"},
										"error": {"type": "object"},
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tasks/planning/week": {
			"post": {
				"description": "Create week from planning task",
				"security": ["bearerAuth"],
				"tags": ["Protected"],
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "JWT",
						"required": true,
						"style": "simple",
						"schema": {
							"$ref": "#/components/securitySchemes/bearerAuth"
						},
						"style": "simple"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"$ref": "#/components/schemas/GetTasks"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/UnauthorizedError"
					},
					"404": {
						"description": "BAD",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"success": {"type": "boolean"},
										"error": {"type": "object"},
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tasks/planning": {
			"get": {
				"description": "Get planning Tasks",
				"tags": ["Protected"],
				"security": ["bearerAuth"],
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "JWT",
						"required": true,
						"style": "simple",
						"schema": {
							"$ref": "#/components/securitySchemes/bearerAuth"
						},
						"style": "simple"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"$ref": "#/components/schemas/GetTasks"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/UnauthorizedError"
					},
					"404": {
						"description": "BAD",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"success": {"type": "boolean"},
										"error": {"type": "object"},
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			},
			"post": {
				"description": "Create planning task",
				"tags": ["Protected"],
				"security": ["bearerAuth"],
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "JWT",
						"required": true,
						"style": "simple",
						"schema": {
							"$ref": "#/components/securitySchemes/bearerAuth"
						},
						"style": "simple"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"$ref": "#/components/schemas/GetTasks"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/UnauthorizedError"
					},
					"404": {
						"description": "BAD",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"success": {"type": "boolean"},
										"error": {"type": "object"},
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tasks/default/{:defaulttaskId}": {
			"patch": {
				"description": "Update defaultTask by defaultTaskId",
				"tags": ["Protected"],
				"security": ["bearerAuth"],
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "JWT",
						"required": true,
						"style": "simple",
						"schema": {
							"$ref": "#/components/securitySchemes/bearerAuth"
						},
						"style": "simple"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"$ref": "#/components/schemas/GetTasks"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/UnauthorizedError"
					},
					"404": {
						"description": "BAD",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"success": {"type": "boolean"},
										"error": {"type": "object"},
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			},
			"delete": {
				"description": "Delete default task by defaulttaskId",
				"tags": ["Protected"],
				"security": ["bearerAuth"],
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "JWT",
						"required": true,
						"style": "simple",
						"schema": {
							"$ref": "#/components/securitySchemes/bearerAuth"
						},
						"style": "simple"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"$ref": "#/components/schemas/GetTasks"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/UnauthorizedError"
					},
					"404": {
						"description": "BAD",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"success": {"type": "boolean"},
										"error": {"type": "object"},
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			},
			"get": {
				"description": "get defaultTask by defaultaskId",
				"tags": ["Protected"],
				"security": ["bearerAuth"],
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "JWT",
						"required": true,
						"style": "simple",
						"schema": {
							"$ref": "#/components/securitySchemes/bearerAuth"
						},
						"style": "simple"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"$ref": "#/components/schemas/GetTasks"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/UnauthorizedError"
					},
					"404": {
						"description": "BAD",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"success": {"type": "boolean"},
										"error": {"type": "object"},
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tasks/default": {
			"post": {
				"description": "Create default tasks",
				"tags": ["Protected"],
				"security": ["bearerAuth"],
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "JWT",
						"required": true,
						"style": "simple",
						"schema": {
							"$ref": "#/components/securitySchemes/bearerAuth"
						},
						"style": "simple"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"$ref": "#/components/schemas/GetTasks"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/UnauthorizedError"
					},
					"404": {
						"description": "BAD",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"success": {"type": "boolean"},
										"error": {"type": "object"},
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			},
			"get": {
				"description": "Get default tasks",
				"tags": ["Protected"],
				"security": ["bearerAuth"],
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "JWT",
						"required": true,
						"style": "simple",
						"schema": {
							"$ref": "#/components/securitySchemes/bearerAuth"
						},
						"style": "simple"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"$ref": "#/components/schemas/GetTasks"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/UnauthorizedError"
					},
					"404": {
						"description": "BAD",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"success": {"type": "boolean"},
										"error": {"type": "object"},
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"securitySchemes": {
			"api_key": {
				"type": "scheme",
				"scheme": "bearer",
				"bearerFormat": "JWT"
			},
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "JWT"
			}
		},
		"schemas": {
			"LoginRequest": {
				"type": "object",
				"properties": {
					"email": {
						"type": "string",
						"format": "email",
						"required": true
					},
					"password": {
						"type": "string",
						"maxLength": 15,
						"minLength": 5,
						"required": true
					}
				},
				"required": ["email", "password"],
				"example": {
					"email": "email@email.com",
					"password": "password"
				}
			},
			"RegisterRequest": {
				"type": "object",
				"properties": {
					"email": {
						"type": "string",
						"format": "email"
					},
					"password": {
						"type": "string"
					},
					"nickname": {"type": "sting"}
				},
				"required": ["email", "password", "nickname"],
				"example": {
					"email": "testovoy@gmail.com",
					"password": "password",
					"nickname": "Testovoy"
				}
			},
			"User": {
				"type": "object",
				"properties": {
					"nickname": {
						"type": "string"
					},
					"email": {
						"type": "string",
						"format": "email"
					}
				}
			},
			"GetTasks": {
				"type": "object",
				"properties": {
					"status": {
						"type": "string",
						"default": "success",
						"example": "success"
					},
					"tasks": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Task"
						}
					}
				}
			},
			"GetGoals": {
				"type": "object",
				"properties": {
					"status": {
						"type": "string",
						"default": "success",
						"example": "success"
					},
					"tasks": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Goal"
						}
					}
				}
			},
			"Task": {
				"type": "object",
				"properties": {
					"title": {
						"type": "string"
					},
					"description": {"type": "string"},
					"_id": {"type": "string", "format": "uuid"},
					"points": {"type": "number"}
				}
			},
			"Goal": {
				"type": "object",
				"properties": {
					"title": {
						"type": "string"
					},
					"description": {
						"type": "string"
					},
					"_id": {
						"type": "string",
						"format": "uuid"
					},
					"points": {
						"type": "number",
						"format": "uuid"
					}
				}
			},
			"TaskCreate": {
				"type": "object",
				"properties": {
					"title": {
						"type": "string"
					},
					"description": {"type": "string"},
					"dates": {
						"type": "array",
						"items": {
							"type": "string",
							"format": "date-time"
						}
					}
				}
			},
			"LoginResponse": {
				"type": "object",
				"properties": {
					"status": {
						"type": "string",
						"default": "success",
						"example": "success"
					},
					"user": {
						"type": "object",
						"properties": {
							"userData": {
								"$ref": "#/components/schemas/User"
							},
							"token": {
								"type": "string",
								"example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1ZDNhMTM4NmIxZTg1NTdjZjIzNjY3ODEiLCJpYXQiOjE1NjQwODcxNzV9.jSdzHuBSf4yKS6t7zwt0AoQIchHlz73JDOjfHVdbTBk"
							}
						}
					}
				}
			},
			"RegisterResponse": {
				"type": "object",
				"properties": {
					"status": {
						"type": "string",
						"default": "success",
						"example": "success"
					},
					"user": {
						"type": "object",
						"properties": {
							"userData": {
								"$ref": "#/components/schemas/User"
							},
							"token": {
								"type": "string",
								"example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1ZDNhMTM4NmIxZTg1NTdjZjIzNjY3ODEiLCJpYXQiOjE1NjQwODcxNzV9.jSdzHuBSf4yKS6t7zwt0AoQIchHlz73JDOjfHVdbTBk"
							},
							"childs": {
								"type": "array",
								"items": {
									"type": "object"
								}
							},
							"tasks": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/Task"
								}
							},
							"goals": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/Goal"
								}
							}
						}
					}
				}
			}
		},
		"responses": {
			"UnauthorizedError": {
				"description": "Access token is missing or invalid"
			}
		}
	}
}
